BOT_TOKEN=f9LHodD0cOKnWxI4oJ2GqbEJXcjVvQaSCcmZR9Vzr3KgwmBe3e-BVm1Xj-vZEP0pZaxiHjzMSU9wNhq1M_8F
ADMIN_ID=123456789
API_KEY=very-secret-key-2025
API_URL=http://localhost:8080
CATALOG_URL=https://merely-enlivened-mockingbird.cloudpub.ru
BOT_LINK=https://max.ru/spring_cat2_bot
WEBHOOK_PORT=8081