* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2ecf7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2c7ab1;
  border-radius: 10px;
}